article figure, body, h1, h3 {
	margin: 0
}

.banner, .grey-background, main section, section#top {
	position: relative
}

.button, main {
	box-sizing: border-box
}

.banner, article, body, nav.active {
	background-color: #242423
}

article h1, input, textarea {
	margin-top: 5px
}

.scroll-down, .scroll-down.active {
	opacity: 1;
	visibility: hidden
}

@font-face {
	font-family: Lato;
	font-weight: 200;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: swap;
	src: url(/fonts/Lato-Thin.ttf) format('truetype')
}

@font-face {
	font-family: Lato;
	font-weight: 200;
	font-style: italic;
	text-rendering: optimizeLegibility;
	font-display: swap;
	src: url(/fonts/Lato-Thinitalic.ttf) format('truetype')
}

@font-face {
	font-family: Lato;
	font-weight: 300;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: swap;
	src: url(/fonts/Lato-Light.ttf) format('truetype')
}

@font-face {
	font-family: Lato;
	font-weight: 300;
	font-style: italic;
	text-rendering: optimizeLegibility;
	font-display: swap;
	src: url(/fonts/Lato-Lightitalic.ttf) format('truetype')
}

@font-face {
	font-family: Lato;
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: swap;
	src: url(/fonts/Lato-Regular.ttf) format('truetype')
}

@font-face {
	font-family: Lato;
	font-weight: 400;
	font-style: italic;
	text-rendering: optimizeLegibility;
	font-display: swap;
	src: url(/fonts/Lato-Italic.ttf) format('truetype')
}

@font-face {
	font-family: Lato;
	font-weight: 600;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: swap;
	src: url(/fonts/Lato-Bold.ttf) format('truetype')
}

@font-face {
	font-family: Lato;
	font-weight: 600;
	font-style: italic;
	text-rendering: optimizeLegibility;
	font-display: swap;
	src: url(/fonts/Lato-Bolditalic.ttf) format('truetype')
}

@font-face {
	font-family: Lato;
	font-weight: 900;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: swap;
	src: url(/fonts/Lato-Black.ttf) format('truetype')
}

@font-face {
	font-family: Lato;
	font-weight: 900;
	font-style: italic;
	text-rendering: optimizeLegibility;
	font-display: swap;
	src: url(/fonts/Lato-Blackitalic.ttf) format('truetype')
}

:root {
	--the-chosen-one: #FFC200;
	--the-chosen-one-opacity: #FFC20099;
	color: #fff;
	font-family: Lato, sans-serif
}

body {
	padding: 0;
	min-width: 465px
}

html {
	scroll-behavior: initial;
	scroll-padding-top: 80px
}

.icons a, .subtext, .subtitle, h2, h3 {
	color: #aeaeae
}

.white-colour, a, button {
	color: #fff
}

h1 {
	font-size: 48px
}

.banner, article h1, h2 {
	font-size: 24px
}

.aboutme, .button, .contact a, .links a, .subtitle, article p, body, h3, input, textarea {
	font-size: 18px
}

.button, .icons, .scroll-down, .text-centre {
	text-align: center
}

.subtitle {
	font-weight: 700;
	margin: 0 50px
}

.banner, .contact, .icons, .progress-bar-top, .projects, nav {
	display: flex;
	justify-content: space-between
}

nav {
	top: 0;
	position: absolute
}

.banner, nav {
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	min-width: 465px;
	z-index: 1;
	transition: background .5s, border .5s;
	border-bottom: 3px solid transparent
}

.banner {
	border-bottom: 1px solid #666;
	z-index: 2
}

.button, .icons a, nav a[href="#top"] {
	text-decoration: none
}

nav.active {
	border-bottom-color: var(--the-chosen-one);
	border-bottom-style: solid
}

.spacing {
	margin: 20px 0;
	vertical-align: middle
}

.name {
	font-size: 36px
}

#mobile, .links {
	margin-right: 10%
}

.links a {
	margin-left: 40px
}

.left {
	float: left
}

.right {
	float: right
}

.button:hover, a:hover, button:hover {
	text-decoration: underline;
	font-weight: 700;
	outline: #666 solid 1px
}

.the-chosen-colour {
	color: var(--the-chosen-one)
}

.button, button {
	border: 0;
	cursor: pointer
}

button {
	background: 0 0;
	padding: 5px 10px
}

.button {
	color: #000;
	background-color: var(--the-chosen-one);
	padding: 10px 20px;
	display: inline-block;
	margin: 20px 0
}

.call-to-action {
	padding: 15px 30px;
	width: 50%;
	font-size: 20px
}

main section {
	padding: 20px 0
}

section#top:after, section#top:before {
	content: '';
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	width: 100%;
	left: 0;
	z-index: -1
}

section#top:before {
	background-image: url("data:image/svg+xml,%3Csvg width=!string!height=!string!viewBox=!string!fill=!string!xmlns=!string!%3E%3Cpath fill-rule=!string!clip-rule=!string!d=!string!fill=!string!/%3E%3C/svg%3E%0A");
	background-position: bottom;
	height: 120px;
	top: 0
}

section#top:after {
	background-image: url("data:image/svg+xml,%3Csvg width=!string!height=!string!viewBox=!string!fill=!string!xmlns=!string!%3E%3Cpath fill-rule=!string!clip-rule=!string!d=!string!fill=!string!/%3E%3C/svg%3E%0A");
	height: 250px;
	bottom: 0
}

section#top {
	display: flex;
	height: 100vh
}

.links, .spacing {
	margin-left: 10%;
	margin-right: 10%
}

.intro {
	margin: 200px auto 200px 10%;
	width: 50%;
	max-width: 650px
}

.blob, .name-and-picture {
	left: 0;
	margin: auto;
	bottom: 0
}

.the-chosen-box {
	padding: 30px 40px;
	border: 3px var(--the-chosen-one) solid
}

.grey-background {
	background-color: rgba(255, 255, 255, .2);
	border-top-left-radius: 10%;
	width: 40%;
	min-height: 850px
}

.blob {
	width: 607px;
	height: 528px;
	overflow: auto;
	position: absolute;
	top: 0;
	right: 0;
	background: linear-gradient(90deg, var(--the-chosen-one) 0, var(--the-chosen-one-opacity) 100%);
	border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	animation: 4s linear infinite alternate blobmorph
}

.name-and-picture:before {
	content: '1440';
	position: absolute;
	background-image: url("data:image/svg+xml,%3Csvg width=!string!height=!string!viewBox=!string!fill=!string!xmlns=!string!%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3C/svg%3E%0A");
	background-size: cover;
	width: 440px;
	height: 170px;
	top: -30px;
	left: 10px
}

.name-and-picture {
	width: 500px;
	height: 370px;
	top: 40px;
	right: -50px;
	background: url(/imgs/memoji.png) center/380px no-repeat;
	position: absolute
}

.blobblank, .blobrocket, .blobspeechbubble, .blobthumbsup {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 440px;
	height: 450px
}

.blobthumbsup {
	right: -170px;
	top: 11%;
	background: url(/imgs/ThumbsUp.png) no-repeat, linear-gradient(90deg, var(--the-chosen-one) 0, var(--the-chosen-one-opacity) 100%);
	border-radius: 40% 50% 10% 60%/60% 30% 50% 50%;
	animation: 7s linear infinite alternate blobmorph
}

.blobblank {
	left: -270px;
	top: 30%;
	background: linear-gradient(300deg, var(--the-chosen-one) 0, var(--the-chosen-one-opacity) 100%);
	border-radius: 30% 50% 30% 80%/60% 30% 50% 50%;
	animation: 3s linear infinite alternate blobmorph
}

.blobrocket {
	right: -170px;
	top: 54%;
	background: url(/imgs/Rocket.png) no-repeat, linear-gradient(90deg, var(--the-chosen-one) 0, var(--the-chosen-one-opacity) 100%);
	border-radius: 60% 50% 80% 30%/60% 30% 50% 50%;
	animation: 8s linear infinite alternate blobmorph
}

.blobspeechbubble {
	left: -200px;
	top: 85%;
	background: url(/imgs/SpeechBubble.png) no-repeat, linear-gradient(190deg, var(--the-chosen-one) 0, var(--the-chosen-one-opacity) 100%);
	border-radius: 70% 50% 70% 40%/60% 10% 60% 50%;
	animation: 6s linear infinite alternate blobmorph
}

.bar, .check-one, .check-three, .check-two, .filled, input, textarea {
	background-color: var(--the-chosen-one)
}

.icons {
	width: 35%;
	margin: 60px 0
}

.email-icon, .github-icon, .instagram-icon, .twitter-icon {
	width: 51px;
	height: 50px
}

.progress-bar, i {
	display: inline-block;
	vertical-align: middle
}

.email-icon {
	background-image: url("data:image/svg+xml,%3Csvg width=!string!height=!string!viewBox=!string!fill=!string!xmlns=!string!%3E%3Cpath d=!string!stroke=!string!stroke-width=!string!stroke-linecap=!string!stroke-linejoin=!string!/%3E%3Cpath d=!string!stroke=!string!stroke-width=!string!stroke-linecap=!string!stroke-linejoin=!string!/%3E%3C/svg%3E%0A")
}

.github-icon {
	background-image: url("data:image/svg+xml,%3Csvg width=!string!height=!string!viewBox=!string!fill=!string!xmlns=!string!%3E%3Cpath d=!string!stroke=!string!stroke-width=!string!stroke-linecap=!string!stroke-linejoin=!string!/%3E%3C/svg%3E%0A")
}

.twitter-icon {
	background-image: url("data:image/svg+xml,%3Csvg width=!string!height=!string!viewBox=!string!fill=!string!xmlns=!string!%3E%3Cg clip-path=!string!%3E%3Cpath d=!string!stroke=!string!stroke-width=!string!stroke-linecap=!string!stroke-linejoin=!string!/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id=!string!%3E%3Crect width=!string!height=!string!fill=!string!transform=!string!/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
}

.instagram-icon {
	background-image: url("data:image/svg+xml,%3Csvg width=!string!height=!string!viewBox=!string!fill=!string!xmlns=!string!%3E%3Cpath d=!string!stroke=!string!stroke-width=!string!stroke-linecap=!string!stroke-linejoin=!string!/%3E%3Cpath d=!string!stroke=!string!stroke-width=!string!stroke-linecap=!string!stroke-linejoin=!string!/%3E%3Cpath d=!string!stroke=!string!stroke-width=!string!stroke-linecap=!string!stroke-linejoin=!string!/%3E%3C/svg%3E%0A")
}

.scroll-icon {
	background-image: url("data:image/svg+xml,%3Csvg width=!string!height=!string!viewBox=!string!fill=!string!xmlns=!string!%3E%3Cpath d=!string!stroke=!string!stroke-width=!string!stroke-linecap=!string!stroke-linejoin=!string!/%3E%3Cpath d=!string!stroke=!string!stroke-width=!string!stroke-linecap=!string!stroke-linejoin=!string!/%3E%3C/svg%3E%0A");
	width: 24px;
	height: 24px
}

.send-icon {
	background-image: url("data:image/svg+xml,%3Csvg width=!string!height=!string!viewBox=!string!fill=!string!xmlns=!string!%3E%3Cpath d=!string!stroke=!string!stroke-width=!string!stroke-linecap=!string!stroke-linejoin=!string!/%3E%3Cpath d=!string!stroke=!string!stroke-width=!string!stroke-linecap=!string!stroke-linejoin=!string!/%3E%3C/svg%3E%0A");
	width: 23px;
	height: 23px
}

main {
	background: linear-gradient(180deg, #363636 0, #242423 100%);
	border-top: 1px solid rgba(255, 255, 255, .2);
	position: relative;
	overflow: hidden
}

.experience {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	margin: 100px 0 50px;
	flex-wrap: wrap;
	gap: 50px 70px
}

.experience section {
	display: grid;
	grid-template-columns: 120px 300px;
	grid-template-rows: repeat(4, auto [col-start]);
	position: relative;
	grid-gap: 15px 0;
	margin: 0;
	width: 420px
}

.progress-bar {
	position: relative;
	height: 24px;
	width: 300px
}

.bar, .filled, .progress-bar-top {
	position: absolute
}

.progress-bar-top {
	top: -35px;
	left: 98px;
	height: 20px;
	width: 330px
}

.bar, .projects h1 {
	width: 100%
}

.bar {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg width=!string!height=!string!viewBox=!string!fill=!string!xmlns=!string!%3E%3Cpath fill-rule=!string!clip-rule=!string!d=!string!fill=!string!/%3E%3C/svg%3E%0A");
	mask-image: url("data:image/svg+xml,%3Csvg width=!string!height=!string!viewBox=!string!fill=!string!xmlns=!string!%3E%3Cpath fill-rule=!string!clip-rule=!string!d=!string!fill=!string!/%3E%3C/svg%3E%0A");
	-webkit-mask-size: cover;
	-webkit-mask-repeat: no-repeat;
	mask-size: cover;
	mask-repeat: no-repeat;
	height: 24px
}

.filled {
	height: 9px;
	width: 10px;
	max-width: 253px;
	top: 8px;
	left: 23px
}

.check-one, .check-three, .check-two {
	background-image: url("data:image/svg+xml,%3Csvg xmlns=!string!width=!string!height=!string!viewBox=!string!fill=!string!%3E%3Cpath d=!string!fill=!string!/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%
}

.check-two {
	left: 134px
}

.check-three {
	left: 276px
}

.technologies {
	overflow: hidden;
	position: relative
}

@keyframes imagescroll {
	0% {
		transform: translateX(10%)
	}

	100% {
		transform: translateX(var(--images-move))
	}

}

@media screen and (min-width:2100px) {
	@keyframes imagescroll {
		0% {
			transform: translateX(0)
		}

	}

}

.images {
	--images-move: -50%;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	padding-top: 50px;
	justify-content: space-evenly;
	animation: alternate;
	width: 90%;
	height: 400px;
	margin: auto
}

@media screen and (min-width:1500px) {
	.images {
		--images-move: -30%
	}

}

@media screen and (max-width:1100px) {
	.images {
		--images-move: -60%
	}

}

@media screen and (max-width:900px) {
	.images {
		--images-move: -70%
	}

}

@media screen and (max-width:800px) {
	.images {
		--images-move: -80%
	}

}

@media screen and (max-width:500px) {
	.images {
		--images-move: -85%
	}

}

.projects {
	width: 80%;
	margin: 50px auto;
	flex-wrap: wrap;
	gap: 20px;
	align-items: start
}

article {
	min-width: 340px;
	border: 1px solid #c7c7c7;
	padding: 10px 15px;
	flex: 1;
	z-index: 0
}

article p {
	margin: 10px 0
}

article span {
	font-size: 16px
}

article img {
	width: 100%;
	height: 150px;
	object-position: center;
	object-fit: cover
}

.aboutme {
	white-space: pre-line;
	width: 80%;
	margin: 30px auto
}

.contact, form {
	margin: 50px auto
}

.contact {
	width: 30%;
	gap: 20px;
	flex-direction: column
}

.contact h1 {
	font-size: 20px
}

form {
	width: 50%;
	max-width: 610px
}

.emailinput, .nameinput {
	display: inline-block;
	margin: 10px 0
}

.nameinput {
	margin-right: 100px
}

input, textarea {
	border: 3px solid #000;
	display: block;
	min-height: 22px;
	font-weight: 700;
	max-width: 610px;
	max-height: 500px
}

footer {
	margin: auto;
	max-width: 700px;
	min-width: 330px
}

@media (max-width:1600px) {
	section#top {
		flex-wrap: wrap;
		height: auto
	}

	.call-to-action {
		display: none
	}

	a.scroll-down {
		visibility: visible
	}

	.intro {
		margin: auto;
		min-width: 650px
	}

	.grey-background {
		background-color: unset;
		width: 100%;
		min-height: 500px;
		order: -1
	}

	.blob {
		width: 423px;
		height: 368px
	}

	.name-and-picture:before {
		width: 330px;
		height: 127px;
		left: 0
	}

	.name-and-picture {
		width: 340px;
		height: 270px;
		right: -20px;
		background-size: 280px
	}

}

.scroll-down {
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	margin-left: -5em;
	background: var(--the-chosen-one);
	border: 3px solid #000;
	width: 80px;
	height: 65px;
	padding-top: 15px;
	border-radius: 50%;
	font-size: .5em;
	display: block;
	box-shadow: 0 0 5px 0 #333;
	transition: .5s
}

.scroll-down i {
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain
}

#mobile {
	display: none
}

#mobile span {
	display: block;
	width: 28px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	background-color: #fff
}

@media (max-width:1000px) {
	#mobile, .links a, article span.left {
		display: block
	}

	.links, .open #mobile span:nth-child(2) {
		opacity: 0
	}

	h1 {
		font-size: 28px
	}

	article h1, h2 {
		font-size: 18px
	}

	.aboutme, .subtitle, article p, body, h3 {
		font-size: 16px
	}

	article span.left {
		width: 100%
	}

	article span.right {
		float: left
	}

	.contact {
		width: max-content;
		flex-direction: column
	}

	.emailinput, .nameinput {
		display: block;
		margin-right: 0
	}

	input, textarea {
		max-width: 100%;
		width: 100%;
		min-width: 200px
	}

	form {
		width: 80%
	}

	.the-chosen-box {
		padding: 20px
	}

	.experience section {
		width: 350px;
		grid-template-columns: 90px 260px
	}

	.progress-bar-top {
		top: -25px;
		left: 62px;
		width: 300px
	}

	.blob {
		width: 327px;
		height: 285px
	}

	.name-and-picture {
		width: 240px;
		height: 170px;
		right: -40px;
		background-size: 180px
	}

	.name-and-picture:before {
		width: 260px;
		height: 101px;
		left: -25px
	}

	.progress-bar {
		width: 260px;
		background-size: contain
	}

	.check-two {
		left: 114px
	}

	.check-three {
		left: 238px
	}

	.check-one, .check-three, .check-two {
		width: 23px;
		height: 23px;
		background-size: cover
	}

	.bar {
		-webkit-mask-size: contain;
		mask-size: contain
	}

	.filled {
		height: 6.5px;
		max-width: 230px
	}

	html {
		scroll-padding-top: 130px
	}

	.intro {
		min-width: 350px;
		width: 80%
	}

	.icons, .links {
		width: 100%
	}

	.links {
		visibility: hidden;
		transition: margin-bottom 1s, opacity 1s, visibility 1s, height 1s;
		height: 0;
		overflow: hidden
	}

	.links a {
		padding: 5px;
		margin-left: 0
	}

	.open .links {
		visibility: visible;
		opacity: 1;
		margin-bottom: 20px;
		height: 95px
	}

	.open #mobile span:first-child {
		transform: translateY(8px) rotate(45deg)
	}

	.open #mobile span:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg)
	}

}

@media (prefers-reduced-motion:no-preference) {
	html {
		scroll-behavior: smooth
	}

	@keyframes blobmorph {
		0% {
			border-radius: 40% 60% 60% 40%/60% 30% 70% 40%
		}

		50% {
			border-radius: 60% 40%
		}

		100% {
			border-radius: 60% 40% 40% 60%/30% 60% 40% 70%
		}

	}

	.scroll-down.active {
		opacity: 0;
		visibility: hidden
	}

	.firework {
		display: block !important
	}

	.images {
		animation-duration: 20s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-name: imagescroll;
		width: 2200px;
		height: 340px
	}

}
